
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300;1,500&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
  margin:0; 
  padding:0; 
  box-sizing:border-box; 
}

:root{
  --shade:rgba(0,0,0,0.05); 
  --shade2:rgba(0,0,0,0.75); 
  --shade3:rgba(0,0,0,0.5); 
  --shade4:rgba(0,0,0,0.25); 
  --primary-base:rgb(13, 165, 114);
  --roboto:'Roboto', sans-serif; 
  --poppins:'Poppins', sans-serif; 
}

body{
  background-color:var(--shade); 
}
/* Nav */ 

nav{
  width:100%; 
  height:4em; 
  background-color:var(--shade2); 
  display:grid; 
  grid-template-rows:80% 20%; 
  position:relative; 
  z-index:10;  
}
nav::after{
  content:''; 
  display:block; 
  width:100%; 
  height:2px; 
  background-color:var(--shade4);
  filter:blur(.15em);
}
header{
  grid-row:1; 
  height:100%; 
  width:100%; 
  display:flex;
  align-items:center; 
  justify-content:space-between; 
  padding:0 2em; 
}

.logo-placeholder{
  width:2em; 
  height:2em; 
  background-color:white; 
  border-radius:50%; 
  display:grid; 
  place-items:center;
  transform:translateX(2.6em); 
}

.logo-placeholder p{
  font-family:var(--poppins); 
  font-size:.75em; 
}
header ul{
  width:fit-content; 
  height:fit-content; 
  list-style:none; 
}
header ul button{
  background:transparent; 
  cursor:pointer; 
  border:none; 
  text-decoration:none; 
  color:white; 
  font-family:var(--poppins); 
  font-weight:800;
 
}
header ul button::after{
  content:''; 
  display:block;
  width:10%; 
  height:1px; 
  background-color:white; 
  transition:all .2s ease-in; 
}
header ul li{
  transform:translateX(0); 
  transition:all .2s ease-in; 
}
header ul li:hover{
  transform:translateX(.5em); 
  transition:all .2s ease-in;
}
header ul button:hover{
  transform:translateX(-2em);
  transition:all .2s ease-in; 
}
header ul button:hover::after{
  width:100%;  
  transition:all .2s ease-in; 
}

.nav-footer{
  grid-row:2; 
  width:100%; 
  height:20%; 
  align-self:end; 
  background-color:aqua; 
  animation:nav 60s infinite ease-in forwards; 
}

@keyframes nav{
  0%{
    background:linear-gradient(90deg,aqua 50%,rgb(69, 201, 190)); 
    filter:blur(.15em); 
  }
  10%{
    background:linear-gradient(90deg, rgb(69, 201, 190) 50%,rgb(69, 175, 201));
    filter:blur(.15em); 
  }
  20%{
    background:linear-gradient(90deg,rgb(69, 201, 190) 50%,rgb(69, 175, 201));
    filter:blur(.15em); 
  }
  30%{
    background:linear-gradient(90deg,rgb(69, 201, 190) 50%,rgb(69, 201, 150));
    filter:blur(.15em); 
  }
  40%{
    background:linear-gradient(90deg,rgb(69, 201, 150)50%,rgb(8, 231, 231));
    filter:blur(.15em); 
  }
  50%{
    background:linear-gradient(90deg,rgb(8, 231, 183) 50%,rgb(8, 231, 164));
    filter:blur(.15em); 
  }
  60%{
    background:linear-gradient(90deg,rgb(8, 231, 164)50%,rgb(8, 231, 138));
    filter:blur(.15em); 
  }
  70%{
    background:linear-gradient(90deg,rgb(8, 231, 183) 50%,rgb(10, 199, 142));
    filter:blur(.15em); 
  }
  80%{
    background:linear-gradient(90deg,rgb(19, 206, 150) 50%,rgb(22, 206, 151));
    filter:blur(.15em); 
  }
  90%{
    background:linear-gradient(90deg,rgb(17, 204, 148) 50%,rgb(8, 231, 201));
    filter:blur(.15em); 
  }
  100%{
    background:linear-gradient(90deg,rgb(26, 218, 160) 50%,rgb(19, 216, 157));
    filter:blur(.15em); 
  }
}
/* Login */ 

.login-wrap{
  width:100%; 
  height:100vh; 
  position:absolute;
  z-index:100; 
  background-color:rgba(0,0,0,0.5); 
  display:grid; 
  place-items:center; 
}
.hidden{
  opacity:0; 
  z-index:-1;
  transition:all .25s ease-in; 
}
.login-signup{
  width:40%; 
  height:50%
}
.login-signup.sign{
  height:60%;
  transition:all .5s ease-in;
  transition-delay:.25s;  
}
.login{ 
  width:100%;
  height:100%; 
  background-color:white; 
  border-radius:.5em; 
  display:grid; 
  grid-template-rows:20% 60% 20%; 
  opacity:1; 
  transition:all .5s ease-in;
  transition-delay:.5s;  
}
.login.hidden{
  opacity:0; 
  transition:all .5s ease-in; 
}
.login-header{
  grid-row:1; 
  align-self:center; 
  justify-self:center;
  width:fit-content; 
  height:100%; 
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:center; 
  gap:.25em; 

}
.login h1{ 
  font-family:var(--poppins); 
  font-size:2em; 
  color:var(--primary-base);  
}

.login h1::after{
  content:''; 
  display:block; 
  width:100%; 
  height:1px; 
  background-color:var(--primary-base); 
}
.login-header p{
  font-family:var(--poppins); 
  color:rgba(0,0,0,0.75); 
}
.login-header button{
  cursor:pointer;
  background:transparent; 
  border:none; 
  font-family:var(--poppins); 
  color:var(--primary-base); 
  transform:scaleY(1.25); 
}
.login-header button::after{
  content:''; 
  display:block;
  width:0%;
  height:1px;
  background-color:var(--primary-base);  
  transition:all .2s ease-in; 
}

.login-header button:hover::after{
  width:100%; 
  transition:all .2s ease-in; 
}

.sign-up{
  opacity:0; 
  transition:all .5s ease-in; 
  width:100%; 
  height:100%; 
  background-color:white; 
  border-radius:.25em; 
  transition:all .5s ease-in; 
}

.sign-up.on{
  opacity:1; 
  transition:all .5s ease-in; 
  transition-delay:.5s; 
}

.input-wrap{
  grid-row:2;  
  width:100%; 
  height:100%; 
  padding:2em; 
  display:flex; 
  flex-direction:column; 
  justify-content:space-between; 
  border-top:2px solid rgba(0,0,0,0.05); 
}
.input-wrap span{
  width:70%; 
  height:fit-content; 
  display:flex; 
  flex-direction:column; 
  align-items:start; 
  justify-content:center; 
  gap:.5em; 
}

.input-wrap span label{
  font-family:var(--poppins); 
  color:rgba(0,0,0,0.75); 
}

.input-wrap span label::after{
  content:''; 
  display:block; 
  width:10%; 
  height:2px; 
  background-color:rgba(0,0,0,0.25); 
}

.input-wrap span input{
   width:100%; 
   background-color:rgba(127, 255, 212, 0.37); 
   transform:scaleY(1.25); 
   font-family:var(--poppins);
   color:rgba(0,0,0,0.75);  
   border:none; 
   outline:none; 
}

.input-wrap span input:active{
  border:none; 
  outline:none; 
}

.password-reveal{
  width:100%; 
  height:fit-content; 
  display:flex; 
  align-items:center; 
  justify-content:start; 
  gap:.25em; 
}

#eye-reveal{
  cursor:pointer; 
  width:1.5em; 
  height:1.5em; 
  opacity:.75; 
}

#eye-reveal.clicked{
  background-color:rgba(0,0,0,0.25); 
}
.submit-btn-login{
  grid-row:3;
  justify-self:center;  
  width:25%; 
  height:50%; 
  background-color:var(--primary-base); 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  cursor:pointer;
  border-radius:.25em; 
  transform:scale(1);
  transition:all .1s ease-in;  
}

.submit-btn-login button{
  background:transparent;
  cursor:pointer; 
  transform:scale(1); 
  border:none; 
  outline:none; 
  color:aquamarine; 
  font-family:var(--poppins); 
}

.submit-btn-login:active{
  transform:scale(.9);
  transition:all .1s ease-in; 
}



/* Showcase */ 

main{
  width:100%; 
  min-height:100vh; 
  height:fit-content; 
}

.showcase{
  width:100%; 
  height:80vh; 
  
}

.grid-showcase{
  width:100%; 
  max-height:100%; 
  display:grid; 
  grid-template-columns:repeat(auto-fill,1em);
  grid-template-rows:repeat(auto-fill,1em); 
  position:relative; 
  z-index:1; 
}

.grid-showcase div{
  width:100%; 
  height:100%; 
  border-top:1px solid rgb(26, 218, 160); 
  border-left:1px solid rgb(26, 218, 160); 
  filter:blur(.075em);
  transform:rotate(25deg); 
}


.showcase-body-wrap{
  width:100%;
  height:100%; 
  position:relative;
  z-index:5; 
  transform:translateY(-100%);
  display:flex;
  align-items:center; 
  justify-content:center; 
}

.showcase-cover{
  width:50%; 
  height:50%; 
  background-color:rgba(255, 255, 255, 0.747); 
  border-radius:2em; 
  box-shadow: -15em 1em 5px 9em rgba(255, 255, 255, 0.938), 
              15em 1em 5px 9em rgba(255,255,255,0.9);   
  transition:all 10s ease-in; 
}

.showcase-cover.active{
  box-shadow: -10em 3em 5em 8em rgba(255, 255, 255, 0.74), 
  10em 3em 5em 8em rgba(255,255,255,0.75);   
transition:all 10s ease-in; 
}

.showcase-body{
  width:100%; 
  height:100%; 
  position:absolute; 
  z-index:10; 
  display:grid; 
  grid-template-columns:40% 60%; 
  grid-template-rows:100%; 
}

.showcase-header{
  grid-column:2;
  width:100%; 
  height:100%; 
  display:flex;
  flex-direction:column; 
  align-items:start;
  justify-content:center; 
  padding:1em; 
  padding-left:3.5em; 
}
.showcase-header::before{
  content:''; 
  display:block; 
  width:2px; 
  height:60%; 
  background-color:rgba(0,0,0,0.1); 
  border-radius:.25em; 
  position:absolute;
  transform:translate(-4em,1em); 

}

.showcase-header h1{
  font-family:var(--poppins); 
  font-size:6em; 
  transform:scaleY(1.5);
  text-shadow:0 0 10px rgba(0,0,0,.57);
  display:flex;
  align-items:center; 
  justify-content:center;
  opacity:0; 
  animation:header1 .5s 1 ease-in-out forwards;  
  animation-delay:.25s; 
}
.R{
  font-size:.2em; 
  animation:R .5s 1 ease-in forwards;
  animation-delay:1s; 
  color:aquamarine; 
}

@keyframes R{
  0%{
    color:aquamarine; 
  }
  100%{
    color:black; 
  }
}
@keyframes header1{
  0%{
    transform:translateY(1em);
    opacity:0; 
  }
  75%{
    transform:translateY(-.25em);
    opacity:0.25; 
  }
  100%{
    transform:translateY(0);
    opacity:1; 
  }
}
.showcase-header h1.on{
   opacity:1; 
   transform:translateY(.25em); 
   transition:all .2s ease; 
}

.showcase-header p{
  font-family:var(--roboto); 
  font-size:1.5em; 
  display:flex; 
  gap:.5em; 
  margin:.5em 0; 
}
.header-options{
  width:100%; 
  height:fit-content;
  display:grid;
  grid-template-rows:10% 90%; 
}
.header-options::before{
  content:''; 
  display:block; 
  width:30%; 
  height:2px; 
  background-color:rgba(0,0,0,0.25); 
  transform:translateY(0); 
  align-self:start; 
}

.showcase-header span{
  display:flex;
}
.showcase-header span::after{
  content:''; 
  display:block; 
  width:2px; 
  height:70%; 
  background-color:rgba(0,0,0,0.25);
  transform:translate(.2em,.25em);  
}

#degree{
  width:.5em; 
  height:.5em; 
  border-radius:50%; 
  background-color:rgba(0,0,0,0.05);
  border:1px solid rgba(0, 0, 0, 0.614);  
}

.analytics-btn{
  width:25%; 
  height:2em; 
  border-radius:.5em; 
  background-color:aquamarine; 
  display:flex;
  align-items:center;
  justify-content:center; 
  cursor:pointer; 
  transform:scale(1);
  transition:all .1s ease-in; 
}
.analytics-btn:active{
  transform:scale(.9);
  transition:all .1s ease-in;
}

.analytics-btn button{
  background:transparent; 
  border:none ;
  cursor:pointer; 
  color:rgb(6, 150, 114); 
  font-family:var(--roboto); 
  font-weight:800; 
}

.survey-animation{
  width:100%; 
  grid-column:1; 
  height:100%; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  transform:translate(-5em,2em); 
  opacity:0; 
  animation: survey .5s 1 ease-in forwards; 
  animation-delay:.25s; 
}
@keyframes survey{
  0%{
    transform:translate(-5em,2em); 
    opacity:0;
  }
  75%{
    transform:translate(.25em,2em); 
    opacity:.25; 
  }
  100%{
    transform:translate(0,2em); 
    opacity:1; 
  }
}

.wrap-s{
  width:60%; 
  height:70%; 
  background-color:rgba(0, 0, 0, 0.178); 
  border-radius:.5em; 
  box-shadow:0 0 .5em .7em rgba(0,0,0,0.05);
  display:grid; 
  place-items:center;   
}

.board-s{
  width:95%;
  height:96%; 
  border-radius:.5em; 
  background-color:rgba(255,255,255,0.75); 
  display:grid; 
  grid-template-rows:20% 80%; 
}
.header-s{
  width:100%; 
  height:100%; 
  grid-row:1; 
  display:flex; 
  align-items:center; 
  justify-content:center;  

}


#clip-bottom{
  width:4em; 
  height:2.25em;
  background-color:rgba(0,0,0,0.25); 
  border-radius:.25em; 
}

.body-s{
  grid-row:2;
   width:100%; 
   height:100%; 
   border-top:1px solid rgba(0,0,0,0.05); 
   box-shadow:0 0 2px 2px rgba(0,0,0,0.1);
   padding:1em; 
}
.task-wrap{
  width:100%; 
  height:100%; 
  display:flex; 
  flex-direction:column; 
  justify-content:space-between; 
}

.check{
  max-width:3.5em; 
  max-height:3.5em; 
  animation:checkmark .3s 1 ease-in forwards; 
}
@keyframes checkmark{
  0%{
    transform:scale(1); 
  }
  50%{
    transform:scale(1.25);
  }
  100%{
    transform:scale(1); 
  }
}

.task{
  width:100%; 
  height:33%; 
  display:flex; 
  align-items:center; 
  gap:1em;
  border-bottom:1px solid rgba(0,0,0,0.15) 
}

.fillers{
  width:80%; 
  height:75%;
  display:flex; 
  flex-direction:column; 
  align-items:start;  
   gap:.5em 

}

.f1{
  width:100%; 
  height:.5em; 
  background-color:rgba(0,0,0,0.4);
  border-radius:.15em;  
}
.f2{
  width:75%; 
  height:.25em; 
  background-color:rgba(0,0,0,0.25); 

}
 .f3-wrap{
  width:100%; 
  height:auto; 
  display:flex; 
  justify-content:space-between; 
 }
.f3{
  width:33%; 
  height:fit-content; 
  display:flex; 
  flex-direction:column; 
  gap:.25em; 
}

.f3 div{
  width:80%; 
  height:.2em; 
  background-color:rgba(0, 0, 0, 0.067); 
}

.loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  --base-color: #ffffff;
}
.loader::before {
  content: '';  
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #888888;
  background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}
.loader::after {
  content: '';  
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #868686;
  background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}  

.analytics{
  width:100%; 
  height:0em;
  background-color:var(--shade2); 
  position:relative; 
  z-index:10;
  transition:all .25s ease-in; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  gap:15em; 
  position:relative; 
  z-index:-1; 
}
.analytics.active{
  height:10em;
  z-index:10;   
  transition:all .25s ease-in; 
}
.analytics div{
  width:auto; 
  height:fit-content; 
  display:flex; 
  flex-direction:column; 
  justify-content:space-between; 
  align-items:center; 
  gap:.35em; 
}
.analytics div span{
  text-align:center; 
  font-family:var(--roboto); 
  color:white; 
}
.analytics div span p::after{
  content:''; 
  display:block; 
  width:100%; 
  height:1px; 
  background-color:rgba(255,255,255,0.25); 
  margin:.5em 0; 

}
.analytic-icon{
  max-width:4em; 
  max-height:4em; 
  filter:invert(100);
}
/* News Section */ 

.news-section{
  width:100%; 
  height:50vh; 
  position:relative; 
  z-index:5; 
  background-color:var(--primary-base); 
  display:grid; 
  grid-template-rows:20% 80%; 
  grid-template-columns:70% 30%; 
}

.news-section h1{
  font-family:var(--poppins);
  font-size:2.5em;  
  grid-row:1; 
  grid-column:1 / span 2; 
  align-self:center; 
  margin:.5em; 
  color:var(--primary-base); 
  text-shadow:0 0 5px 5px rgba(0,0,0,0.4);
}

.news-header{
  width:60%; 
  height:100%;
  background-color:aquamarine; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  border-bottom-right-radius:2em;  
  
}
.news-cards{
  width:100%; 
  height:100%;
  grid-row:2; 
  grid-column:1/span 2;  
 
}
.card-wrap{
  width:100%; 
  height:100%; 
  display:grid; 
  grid-template-columns:repeat(2,50%); 
  grid-template-rows:100%;
  transform:translateY(0);  
  opacity:0; 
  transition:all .5s ease-in;  
  position:absolute; 
}

.first{
  transform:translateY(-2em); 
  opacity:1; 
  transition:all .5s ease-in; 
  transition-delay:1s;
  z-index:10;  
}


.queued{
 animation:queue .55s 1 ease-in forwards; 
 z-index:1;  
}
@keyframes queue{
  0%{
    transform:translateY(-2em); 
    opacity:.5; 
  }
  75%{
    transform:translateY(-6em); 
    opacity:0; 
  }
  100%{
    transform:translateY(2em); 
    opacity:0; 
  }
}

.card-wrap span{
  grid-column:1; 
  align-self:center;
  justify-self:end; 
  width:50%;
  margin-right:1.5em;   
  font-family:var(--roboto); 
  color:aquamarine; 
  transform:translateY(2em); 
  opacity:1; 
  transition:all .3s ease-in;
}

.news-card::before{
  content:''; 
  display:block; 
  width:2px; 
  height:80%; 
  background-color:aquamarine; 
  transform:translate(-5em,-1em); 
  opacity:.5;
}
.news-card{
  grid-column:2; 
  width:80%; 
  height:90%; 
  background-color:aquamarine; 
  align-self:center; 
  justify-self:center; 
  border-radius:.75em; 
  box-shadow:.25em -.75em 5px 1px rgba(0, 255, 179, 0.493); 
  display:flex;
  align-items:center; 
  justify-content:center; 
  padding:1em; 
  transform:translateY(2em); 
  opacity:1; 
  transition:all .3s ease-in;
}

.news-card div{
  width:100%; 
  height:100%; 
  display:grid; 
  place-items:center; 
  border-radius:.5em; 
  border:2px solid rgba(0,0,0,0.05); 
  padding:1em; 
}
.news-card p{
  font-family:var(--roboto); 
  font-weight:800; 
  font-size:1.5em; 
  color:rgba(0,0,0,0.5); 
}

/* Info Cards */ 

.card-icon{
  width:3.5em; 
  height:3.5em; 
}

.info-wrap{
  width:100%; 
  height:60vh; 
  display:grid; 
  grid-template-columns:100%; 
  grid-template-rows:15% 85%; 
  background-color:var(--shade2);   
}
.tab-i{
  width:40%; 
  height:100%;
  display:flex; 
  align-items:center; 
  justify-content:center; 
  background-color:aquamarine; 
  border-bottom-right-radius:2em;
}

.tab-i h1{
  font-family:var(--poppins); 
  font-size:2.5em; 
  color:var(--primary-base); 
}

.info{
  grid-row:2; 
  width:100%; 
  height:100%;
  display:flex; 
  align-items:center; 
  justify-content:space-between; 
  padding:1em 5.5em; 
}

.card-i{
  width:20%; 
  height:80%; 
  background-color:white; 
  border-radius:.25em; 
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:space-between;
  padding:2em 0; 
  position:relative; 
  z-index:10; 
  transform:translateY(3em);
  opacity:0; 
  transition:all .5s ease-in; 
}
.card-i.active{
  transform:translateY(0);
  opacity:1; 
  transition:all .5s ease-in;
}
.card-i::before{
  content:''; 
  display:block; 
  width:10em; 
  height:10em; 
  position:absolute; 
  z-index:-1; 
  background-color:aquamarine; 
  border-radius:.25em; 
  opacity:.5; 
}

.card-i span{
  font-family:var(--poppins); 
  color:var(--shade2); 
  text-align:center; 
  transform:translateY(-1em); 
}
.card-i span::after{
  content:''; 
  display:block; 
  width:100%; 
  height:1px; 
  background-color:rgba(0,0,0,0.25); 
}

.card-i p{
  font-size:.75em; 
}
.card-btn{
  width:30%; 
  height:1.5em; 
  background-color:var(--primary-base);
  border-radius:.25em; 
  display:grid;  
}
.card-btn button{
  background:transparent; 
  border:none; 
  font-family:var(--poppins); 
  color:aquamarine; 
  cursor:pointer; 
  transform:scale(1); 
  transition:all .3s ease-in; 
}

.card-btn:active{
  transform:scale(.9); 
  transition:all .1s ease-in; 
}

.flipped{
  width:100%; 
  height:100%; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  flex-direction:column; 
  gap:.75em; 

}
.flipped p{
  font-family:var(--poppins); 
  color:var(--shade2); 
  font-size:1em;
  text-align:center;  
}

/* Collegue Feed */ 

.feed-wrap{
  width:100%; 
  height:fit-content; 
 display:flex; 
  flex-direction:column; 
  gap:.25em; 
  background-color:aquamarine;  
}

.feed-header{
  grid-row:1; 
  width:40%; 
  height:100%; 
  background-color:var(--primary-base); 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  border-bottom-right-radius:2em; 
}
.feed-header h1{
  font-family:var(--poppins); 
  font-size:2.5em;
  color:aquamarine;  
}

.feed{
  grid-row:2; 
  width:100%; 
  max-height:100%; 
  display:grid; 
  grid-template-columns:repeat(auto-fill,25%);
  grid-template-rows:repeat(auto-fill,50vh); 
  gap:2.5em; 
  align-items:center; 
  justify-content:center; 
  overflow:visible;
}
.feed-card{
  width:100%; 
  height:100%; 
  border:2px dashed rgba(0,0,0,0.25); 
  justify-self:center; 
  align-self:end;  
  cursor:pointer; 
}

.card-cover{
  width:100%; 
  height:100%; 
  position:relative; 
  z-index:5; 
  background: linear-gradient(180deg, aquamarine 100%,  rgb(255, 255, 255,0) 100%);
  display:flex; 
  align-items:center; 
  padding:1em; 
}
.card-cover:hover{
  background: linear-gradient(180deg, aquamarine 0%,  rgb(255, 255, 255,0) 100%);
  transition:all 1s ease-in; 
}
.card-cover span{
  width:100%; 
  text-align:center; 
  font-family:var(--poppins); 
  color:var(--primary-base);  
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  transform:translateY(0); 
  transition:all .5s ease-in; 
}
.card-cover span.over{
  transform:translateY(-7em); 
  transition:all 1s ease-in-out;   
}
.card-cover span::after{
  content:''; 
  display:block; 
  width:100%; 
  height:1px; 
  background-color:rgba(0,0,0,0.1);
  transform:scale(0) translateY(2em); 
  transition:all .5s ease-in;  
}
.card-cover span.over::after{
  transform:scale(1) translateY(.5em);
  transition:all .5s ease-in; 
  transition-delay:200ms; 
}
.card-cover span h1::after{
content:''; 
display:block; 
width:10%; 
height:2px; 
background-color:rgba(0,0,0,0.25);
place-self:center;   
transform:translateX(450%);
}
.card-fx{
  width:100%; 
  max-height:100%;
  height:100%; 
  background-color:rgba(8, 167, 114, 0.285);; 
  position:relative; 
  z-index:3; 
  transform:translateY(-100%); 
}
.card-info{
  width:100%; 
  height:100%; 
  position:relative; 
  z-index:4; 
  transform:translateY(-200%);
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:flex-end;
  gap:2em;  
  opacity:0; 
  transition:opacity .2s ease; 
}
.card-info.active{
  opacity:1; 
  transition:opacity .5s ease;
  transition-delay:.5s; 
}
.card-info p{
  font-family:var(--poppins); 
  font-size:1em; 
  color:rgba(0,0,0,0.75); 
  text-align:center; 
}

.card-stats{
  width:100%; 
  height:auto;  
  display:flex; 
  align-items:center; 
  justify-content:space-between;
  padding:0 1em;  
}

.card-icon{
  max-width:1.25em; 
  max-height:1.25em;
}

.card-icon span{
  width:fit-content; 
  height:fit-content; 
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:center; 
  gap:.25em; 
}


/* Survey Section*/

.survey-wrap{
  width:100%; 
  height:100vh; 
  background-color:var(--shade); 
  display:grid;  
  grid-template-rows:12% 88%; 
}

.header-wrap-survey{
  grid-row:1; 
  width:100%;
  height:100%; 
  display:flex;
  align-items:center; 
  justify-content:space-between;  

}

.header-survey{
  grid-row:1; 
  width:40%;
  height:100%;
  background-color:var(--shade2); 
  border-bottom-right-radius:2em; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
}

.header-survey h1{
   font-family:var(--poppins); 
   font-size:3em;
   color:aquamarine;  
}
.header-notification{
  width:40%; 
  height:100%; 
  grid-row:1;
  align-self:end; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
}

.header-notification span{
  width:100%; 
  height:fit-content; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  gap:.5em; 
}
.header-icon{
  max-width:1em; 
  max-height:1em; 
}

.header-notification span p{
  font-family:var(--poppins); 
  color:rgba(0,0,0,0.75); 
}
.header-notification span a{
  color:var(--primary-base); 
  font-family:var(--poppins); 
}
.survey-body{
  grid-row:2; 
  width:100%; 
  height:100%; 
  display:grid; 
  grid-template-columns:100%; 
  grid-template-rows:30% 70%;
}
.survey-carousol{
  width:100%;
  height:100%; 
  border-top:2px dashed rgba(0,0,0,0.25); 
  display:grid; 
  grid-template-rows:10% 90%;

}
 
.incompleted-tab{
  grid-row:1; 
  width:15%; 
  height:100%; 
  justify-self:end; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  background-color:var(--shade2); 
  border-bottom-left-radius:.25em; 
}

.incompleted-tab p{
  font-family:var(--poppins); 
  color:aquamarine; 
  font-size:.75em; 
}
.incompleted-wrap{
   grid-row:2; 
   width:100%; 
   height:100%; 
   display:flex; 
   align-items:center;
   justify-content:space-between;  
   padding:0 2em; 
   overflow:scroll;
   gap:2em; 
}

.incompleted-survey{
  min-width:15em; 
  height:80%; 
  background-color:rgba(127, 255, 212, 0.418);
  border-radius:.25em; 
  box-shadow:0 0 10px 2px rgba(0,0,0,0.1); 
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:space-between; 
  padding:.5em 0; 
}

.header-incompleted{
  width:100%; 
  height:fit-content; 
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  gap:.25em; 
  font-family:var(--poppins); 
}

.header-incompleted h3{
  color:rgba(0,0,0,0.75); 
}
.header-incompleted h3::after{
  content:'';
  display:block; 
  width:25%; 
  height:1px; 
  background-color:rgba(0,0,0,0.5); 
  transform:translateX(2.25em); 
}

.progress-bar{
  width:auto; 
  height:auto; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  gap:.25em; 
}

.meter-cover{
  width:4em; 
  height:1em; 
  background-color:white;
  border-radius:.5em;  
}

.meter{
  width:100%; 
  height:100%; 
  border-radius:.5em; 
}

.btn-incompleted{
  width:40%; 
  height:1.5em; 
  display:grid; 
  place-items:center; 
  background-color:var(--primary-base); 
  border-radius:.25em;
  cursor:pointer;  
  transform:scale(1); 
  transition:all .2s ease-in; 
}

.btn-incompleted button{
  background:transparent; 
  border:none; 
  color:aquamarine; 
  cursor:pointer; 
  font-family:var(--poppins); 
}

.btn-incompleted:active{
  transform:scale(.9); 
  transition:all .2s ease-in; 
}

.survey-carousol-body{
  grid-row:2; 
  width:100%; 
  height:100%; 
  display:grid; 
  grid-template-rows:10% 90%;
  grid-template-columns:100%;  
  align-items:center;
  justify-content:center; 
}

.survey-body h1{
  font-family:var(--poppins); 
  color:var(--primary-base); 
  font-size:2.25em;
  justify-self:center;
  margin-top:.25em; 
}

.survey-body h1::after{
  content:''; 
  display:block; 
  width:100%; 
  height:1px; 
  background-color:rgba(0,0,0,0.25); 
}

.carousol-body{
  grid-row:2; 
  width:100%; 
  height:100%; 
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:center; 
}

.arrows-carousol{
  width:100%; 
  height:fit-content; 
  display:flex; 
  align-items:center; 
  justify-content:space-between; 
  padding:0 1em;
  position:absolute; 
}
#arrow-c1,#arrow-c2{
  max-width:1.5em; 
  max-height:1.5em; 
  cursor:pointer; 
  opacity:.5em; 
  transition:all .2s ease-in; 
}

#arrow-c1:hover, #arrow-c2:hover{
  opacity:1; 
  transition:all .2s ease-in; 
}

#arrow-c1{
  transform:rotate(90deg); 
}
#arrow-c2{
  transform:rotate(-90deg); 
}

.carousol-cards{
  width:100%; 
  height:fit-content; 
  display:flex;
  align-items:center; 
  justify-content:center; 
}

.cc{
  width:20em;
  height:20em;  
  background-color:rgba(0,0,0,0.5);
  border-radius:.5em;  
  position:absolute;
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:space-between; 
  padding:.5em 1em;  
}

.prev{
  z-index:5; 
  transform:scale(.7) translateX(-20em);
  filter:blur(.5em);
  opacity:.5;   
  transition:all .75s ease-in; 
}

.current{
  z-index:10; 
  transform:scale(1) translateX(0); 
  filter:blur(0); 
  transition:all .75s ease-in; 
}

.next{
  z-index:5; 
  transform:scale(.7) translateX(20em); 
  filter:blur(.5em); 
  opacity:.5; 
  transition:all .75s ease-in; 
}

.off{
  z-index:-1; 
  opacity:0; 
  transform:scale(.7) translateX(20em); 
  transition:all .5s ease-in; 
}

.survey-card-header{
width:100%; 
height:fit-content; 
display:flex; 
flex-direction:column; 
align-items:center; 
justify-content:center; 
gap:.25em; 
font-family:var(--poppins); 
text-align:center; 
}

.survey-card-header::after{
  content:''; 
  display:block; 
  width:100%; 
  height:1px; 
  background-color:rgba(0,0,0,0.25); 
}

.new-survey-stats{
  width:100%; 
  height:fit-content; 
  display:flex; 
  align-items:center; 
  justify-content:space-between; 
  border:2px solid rgba(0,0,0,0.05);
  padding:.5em;  
}


.new-survey-stats div{
  width:fit-content; 
  height:fit-content; 
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  justify-content:center; 
  gap:.75em; 
}

.new-survey-stats div p{
  font-family:var(--poppins); 
  font-weight:800; 
  font-size:.75em; 
}


.new-survey-stats div span{
  width:100%; 
  height:fit-content; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  gap:.5em; 
}

#survey-stats{
  max-width:1.5em; 
  max-height:1.5em; 
}

.survey-start-btn{
  width:40%; 
  height:2em; 
  border-radius:.25em; 
  cursor:pointer; 
  display:grid; 
  place-items:center; 
  background-color:var(--primary-base); 
  transform:scale(1); 
  transition:all .2s ease-in; 
}

.survey-start-btn button{
  background:transparent; 
  border:none; 
  cursor:pointer; 
  font-family:var(--poppins); 
  color:aquamarine; 
}

.survey-start-btn:active{
  transform:scale(.9); 
  transition:all .2s ease-in; 
}

/* Footer */ 
footer{
  width:100%; 
  height:15vh; 
  background-color:var(--shade2); 
  display:flex; 
  align-items:center; 
  justify-content:space-between;
  padding:0 1.5em;  
}

.back-to-top{
  width:10em; 
  height:100%; 
  display:flex; 
  align-items:start;  
}

.back-to-top div{
  width:100%; 
  height:1.5em; 
  border-bottom-right-radius:.5em; 
  border-bottom-left-radius:.5em; 
  background-color:var(--primary-base);
  display:flex; 
  align-items:center; 
  justify-content:center; 
  cursor:pointer;  
}

.back-to-top div button{
  background:transparent; 
  border:none; 
  cursor:pointer; 
  font-family:var(--poppins); 
  color:aquamarine; 
}


.footer-logo{
  width:2em; 
  height:2em; 
  display:grid; 
  place-items:center; 
  border-radius:50%; 
  background-color:white; 
}

.footer-links{
  width:fit-content; 
  height:100%; 
  display:flex; 
  flex-direction:column; 
  padding:.5em; 
  align-items:end; 
  padding-bottom:2em; 
}

.footer-links li a{
  text-decoration:none; 
  font-family:var(--poppins); 
  color:aquamarine; 
}

.footer-links li a::after{
  content:''; 
  display:block;
  width:10%; 
  height:1px; 
  background-color:aquamarine; 
  transition:all .25s ease-in; 
}

.footer-links li a:hover::after{
  width:100%; 
  transition:all .25s ease-in; 
}

/* About Page */ 

.about-wrap{
  width:100%; 
  height:100vh; 
  display:flex; 
  flex-direction:column; 
  padding:4em;
  gap:2em;  
}

.about-wrap h1{
  font-family:var(--poppins); 
  font-weight:800; 
  color:rgba(0,0,0,0.75); 
  font-size:4em;
  transform:scaleY(1.25); 
  font-style:italic;   
}

.about-wrap h1::after{
  content:''; 
  display:block; 
  width:60%; 
  height:5px; 
  border-radius:.5em; 
  background-color:aquamarine; 
  box-shadow:.25em 10px 0 0 rgba(0,0,0,0.05)
}

.about{
  width:100%; 
  height:fit-content; 
}

.about p{
  font-size:1.5em;
  font-family:var(--poppins); 
  color:rgba(0,0,0,0.5);  
}